# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment files
venv/
ENV/
env/
.venv/

# Editor configuration files
.vscode/
.idea/

# Temporary editor files
*~
*.swp
*.swo

# Log files
*.log

# Pytest cache files
.cache/

# Distribution and package files
dist/
build/
*.egg-info/

# Operating system specific files
.DS_Store
Thumbs.db

# System configuration files
*.bak
*.orig

#python
*python*